* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.game-container {
    border-radius: 25px;
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    border: 2px solid #9E9E9E;
}

.title {
    text-align: center;
}

.control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    font-size: 25px;
    height: 50px;
}

.control p {
    text-align: center;
}

.new-game {
    cursor: pointer;
}

.game-grid {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    max-width: 600px;
    max-height: 600px;
}

.super-cell {
    padding: 15px;
}

.small-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.game-cell {
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.pb_btn-pill {
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.pb_font-14 {
    font-size: 14px;
}

.pb_letter-spacing-1 {
    letter-spacing: 0.1em;
}